<div class="dropdown_container">
    <div class="select-box">
      <div class="options-container">
  
        <div class="option" value= "1">
          <input type="radio" class="radio" />
          <label >01 - January</label>
        </div>

        <div class="option" value = "2">
          <input type="radio" class="radio" />
          <label >02 - February</label>
        </div>

        <div class="option" value = "3">
          <input type="radio" class="radio" />
          <label >03 - March</label>
        </div>

        <div class="option" value = "4">
          <input type="radio" class="radio" />
          <label >04 - April</label>
        </div>

        <div class="option" value = "5">
          <input type="radio" class="radio" />
          <label >05 - May</label>
        </div>

        <div class="option" value = "6">
          <input type="radio" class="radio" />
          <label >06 - June</label>
        </div>

        <div class="option" value = "7">
          <input type="radio" class="radio" />
          <label >07 - July</label>
        </div>

        <div class="option" value = "8">
          <input type="radio" class="radio" />
          <label >08 - August</label>
        </div>

        <div class="option" value = "9">
          <input type="radio" class="radio" />
          <label >09 - September</label>
        </div>

        <div class="option" value = "10">
          <input type="radio" class="radio" />
          <label >10 - October</label>
        </div>

        <div class="option" value = "11">
          <input type="radio" class="radio" />
          <label >11 - November</label>
        </div>

        <div class="option" value = "12">
          <input type="radio" class="radio" />
          <label >12 - December</label>
        </div>
      </div>

      <div class="selected">MM</div>
    </div>
  </div>