<div class="dropdown_container">
    <div class="select-box">
      <div class="options-container">
  

        <div class="option" value= "2020">
            <input type="radio" class="radio" />
            <label >2020</label>
          </div>

          <div class="option" value= "2021">
            <input type="radio" class="radio" />
            <label >2021</label>
          </div>

          <div class="option" value= "2022">
            <input type="radio" class="radio" />
            <label >2022</label>
          </div>


          <div class="option" value= "2023">
            <input type="radio" class="radio" />
            <label >2023</label>
          </div>


          <div class="option" value= "2024">
            <input type="radio" class="radio" />
            <label >2024</label>
          </div>


          <div class="option" value= "2025">
            <input type="radio" class="radio" />
            <label >2025</label>
          </div>


          <div class="option" value= "2026">
            <input type="radio" class="radio" />
            <label >2026</label>
          </div>


          <div class="option" value= "2027">
            <input type="radio" class="radio" />
            <label >2027</label>
          </div>


          <div class="option" value= "2028">
            <input type="radio" class="radio" />
            <label >2028</label>
          </div>


          <div class="option" value= "2029">
            <input type="radio" class="radio" />
            <label >2029</label>
          </div>


          <div class="option" value= "2030">
            <input type="radio" class="radio" />
            <label >2030</label>
          </div>

       
      </div>

      <div class="selected">YYYY</div>
    </div>
  </div>