<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/javascripts/main.js'></script>
  </head>

    <body > 
        <div id = "completeWrapper">
            <div id = "completeCard">
                <img id = "logo" src = "/images/completeLogo.svg">
                <span id = "title">Thank you!</span>
                <span id = "message">Your payment has been accepted.</span>
            </div>
        </div>
    </body>
</html>