<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/javascripts/main.js'></script>
  </head>
<body>
    <div id = "startWrapper">
      
        <div id = "header"><span>Your order:</span></div>
        <div id = "box"></div>
        
        <div id = "chairPlaceholder">         
            <img src="images/Vector.svg">
        </div>
        
        <div id = "frame40">
            <p id = "title">Wing Chair</p>
            <p id = "content">Furniture > Seating</p>
        </div>
        
        <p id = "amount">$249.00</p>
        <button id = "button" onclick="location.href = '/start'"> <span>PROCEED TO PAYMENT</span></button>

    </div>
</body>
</html>